{% extends "layout.html" %}
{% block body %}

  <h3 style="margin-top: 20px;">GameNews</h3>
<hr>
<div class="six-column">
    {% for GameNews in results %}
        
        <div class="w3-card-4">
            <a href="{{ url_for('gamenews') }}">
                <img src="{{ GameNews[3] }}" alt="{{ GameNews[1] }}" class="Gamenewsimage">
            </a>
        </div>
        
    {% endfor %}
</div>



<!-- bottom image -->
<div class="bottomimage" style="margin-top: 200px;">
     <img src="{{ url_for('static', filename='image/bottom.png') }}" alt="bottomimage">
    </div>
    
{% endblock %}