{% extends "layout.html" %}
{% block body %}

  <h3 style="margin-top: 20px;">GameNews</h3>
<hr>


    <div class="two-column">
    {% for GameNews in results %}
    {% if GameNews and GameNews[0] %}
    <div class="left-column">
        <div class="w3-card-4">
            <a href="{{ url_for('Newspage', id=GameNews[0]) }}">
                <img src="{{ GameNews[3] }}" alt="{{ GameNews[1] }}" class="Gamenews-image">
            </a>
        </div>
    <div class="right-column">
        <h2>{{ GameNews[1] }}</h2>
        <!-- <p>{{ GameNews[2] }}</p> -->
    </div>
    </div>
    {% endif %}
    {% endfor %}





<!-- bottom image -->
<div class="bottomimage" style="margin-top: 200px;">
     <img src="{{ url_for('static', filename='image/bottom.png') }}" alt="bottomimage">
    </div>
    
{% endblock %}