{% extends "layout.html" %}
{% block body %}

  <h3 style="margin-top: 20px;">GameNews</h3>
<hr>
<div class="three-column">
  {% for GameNews in results %}
    {% if GameNews and GameNews[0] %}
      <div class="w3-card-4">
        
        
        <a href="{{ url_for('Newspage', id=GameNews[0]) }}">
          <img src="{{ GameNews[3] }}" alt="{{ GameNews[1] }}" class="Gamenews-image">
        </a>

         <a href="{{ url_for('Newspage', id=GameNews[0]) }}">
      <header class="w3-container w3" style="background-color: #9219F9;">
          <h3>{{ GameNews[1] }}</h3>
        </header>
        </a>
      </div>
    {% endif %}
  {% endfor %}
</div>



<!-- bottom image -->
<div class="bottomimage" style="margin-top: 200px;">
     <img src="{{ url_for('static', filename='image/bottom.png') }}" alt="bottomimage">
    </div>
    
{% endblock %}