{% extends "layout.html" %}
{% block body %}
<!-- just one game-->
 <!-- two column grid -->
<div class="two-column">
    <!-- image on the left -->
    <div class="left-column">
        <img src="{{ game[5] }}" alt="{{ game[4] }}">
    </div>
    <!-- details on the right -->
    <div class="info">
        <h1>{{ game[4] }}</h1>
        <p>Country: {{ game[2] }}</p>
        <p>Cost: ${{ game[1] }}</p>
        <p>Gameplay and introduction: {{ game[7] }}</p>
    </div>
</div>


<!-- bottom image -->
<div class="bottomimage" style="margin-top: 100px;">
      <img src="{{ url_for('static', filename='image/bottom.png') }}" alt="bottomimage">
    </div>

{% endblock %}