{% extends "layout.html" %}
{% block body %}
  <section class="two-column">
    <!-- Left column: playgame picture -->
    <div class="image">
      <img src="static/image/playgame.jpg" alt="playgames picture">
    </div>

    <!-- Right column: text content -->
    <div class="info">
      <p>
        Have you felt bored because you’re just tired of the games you used to play and don’t know what to play. Don’t worry, this website will recommend some to help you discover more games which are great and worth to play .
      </p>

    </div>
  </section>

<!--three types of games-->
  <h3 style="margin-top: 50px;">something new</h3>
<hr>
 <a href="{{ url_for('cartegory', id=0) }}">
<div class="image">
      <img src="static/image/LATEST GAMES.png" alt="heading1 picture">
    </div>
    </a>
<div class="six-column">
    {% for game in results %}
        {% if game[6] == 0  %} 
        <div class="w3-card-4">
            <a href="{{ url_for('game', gameid=game[0]) }}">
                <img src="{{ game[5] }}" alt="{{ game[4] }}" class="gamecoverimg">
            </a>
        </div>
        {% endif %}
    {% endfor %}
</div>



<h3 style="margin-top: 50px;">Most popular</h3>
<a href="{{ url_for('cartegory', id=1) }}">
<div class="image">
      <img src="static/image/MOST POPULAR.png" alt="heading2 picture">
    </div>
</a>
<hr>
<div class="six-column">
    {% for game in results %}
        {% if game[6] == 1 %}
        <div class="w3-card-4">
            <a href="{{ url_for('game', gameid=game[0]) }}">
                <img src="{{ game[5] }}" alt="{{ game[4] }}" class="gamecoverimg">
            </a>
        </div>
        {% endif %}
    {% endfor %}
</div>


<h3 style="margin-top: 50px;">Small and nice</h3>
<a href="{{ url_for('cartegory', id=2) }}">
<div class="image">
      <img src="static/image/SMALL GAMES.png" alt="heading3 picture">
    </div>
</a>
<hr>
<div class="six-column">
    {% for game in results %}
        {% if game[6] == 2 %}
        <div class="w3-card-4">
            <a href="{{ url_for('game', gameid=game[0]) }}">
                <img src="{{ game[5] }}" alt="{{ game[4] }}" class="gamecoverimg">
            </a>
        </div>
        {% endif %}
    {% endfor %}
</div>


<h3 style="margin-top: 50px;">Classic</h3>
<a href="{{ url_for('cartegory', id=3) }}">
<div class="image">
      <img src="static/image/CLASSIC.png" alt="heading4 picture">
    </div>
</a>
<hr>
<div class="six-column">
    {% for game in results %}
        {% if game[6] == 3 %}
        <div class="w3-card-4">
            <a href="{{ url_for('game', gameid=game[0]) }}">
                <img src="{{ game[5] }}" alt="{{ game[4] }}" class="gamecoverimg">
            </a>
        </div>
        {% endif %}
    {% endfor %}
</div>
    




<!-- bottom image -->
<div class="bottomimage" style="margin-top: 200px;">
     <img src="{{ url_for('static', filename='image/bottom.png') }}" alt="bottomimage">
    </div>


{% endblock %}