{% extends "layout.html" %}
{% block body %}
  <section class="two-column">
    <!-- Left column: phone picture -->
    <div class="image">
      <img src="static/image/phone.png" alt="phone picture">
    </div>

    <!-- Right column: text content -->
    <div class="info">
      <p>
        Have you felt bored because you’re just tired of the games you used to play and don’t know what to play. Don’t worry, this website will recommend some to help you discover more games which are great and worth to play .
      </p>

    </div>

{% endblock %}