<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  

    <title>Great Games</title>
</head>
<body>
    <header class="w3-container w3-padding-32">
        <h1>Great Games</h1>
    </header>

    <section class="hero-image">
        <h1 class="hero_text">Great Games</h1>
    </section>

    <div class="w3-bar w3-border w3-light-grey">
        <a href="{{ url_for('home') }}" class="w3-bar-item w3-button">Home</a>
    </div>

   
     <section class="two-column">
    <!-- Left column: phone picture -->
    <div class="image">
      <img src="static/image/phone.png" alt="phone picture">
    </div>

    <!-- Right column: text content -->
    <div class="info">
      <p>
        Have you felt bored because you’re just tired of the games you used to play and don’t know what to play. Don’t worry, this website will recommend some to help you discover more games which are great and worth to play .
      </p>

    </div>



    {% block body %}
    {% endblock %}
</body>

  </section>
</html>