<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    
    <title>Great Games</title>
</head>
<body>
    <body class = "w3-container">
    <!-- Shard Header Bar-->
        <header class="w3-container w3-padding-32">
            <h1>
                Great Games
            </h1>
        </header>
    <!-- Shared NavBar -->
    <div class="w3-bar w3-border w3-light-grey">
  <a href="#" class="w3-bar-item w3-button">Home</a>
  </div>
    {% block body %}
    {% endblock %}
</body>
</html>