<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/5/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Righteous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  

    <!-- <title>Video Game Recommendation</title> -->
</head>
<body>
   <!-- <header class="w3-container w3-padding-32">
        <h1>Video Game Recommendation</h1>
    </header> -->

    <section class="hero-image">
        <!-- <h1 class="hero_text">Video Game Recommendation</h1> -->
    </section>

    <nav class="nav-bar">
    <ul>
      <li><a href="{{ url_for('home') }}">Home</a></li>
      <!-- <li><a href="{{ url_for('gamepage') }}">Games</a></li> -->
    </ul>
    </nav>





    {% block body %}
    {% endblock %}
</body>

  </section>
</html>